<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/head") %>
      <script src="/tinymce/tinymce.min.js"></script>
      <script src="/dist/form.compiled.js"></script>

  </head>

  <body>
    <div class="container">
      <%- include("../partial/error_alert.ejs") %>
        <form method="POST" action="/evsu-insider/share-answer">
          <div class="--nav-item d-flex justify-content-start align-items-center w-100 my-2 mx-1">
            <a class="text-decoration-none --nav-link f_size-2" href="/evsu-insider/dashboard">&leftarrow; Back to
              Dashboard</a>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <!-- Title -->
              <div class="group">
                <input class="__material-input" type="text" name="post_title" required>
                <span class="bar"></span>
                <label class="__material-label">Add Title...</label>
              </div>
            </div>
            <!-- Tag -->
            <div class="col-lg-6">
              <div class="group">
                <input class="__material-input" type="text" name="post_tag" required>
                <span class="bar"></span>
                <label class="__material-label">Add Tag/Subject/Unit</label>
              </div>
            </div>
          </div>
          <!-- Body -->
          <textarea class="--share-answer-form" name="post_body" id="shareAnswerForm"></textarea>
          <div class="d-flex justify-content-lg-start justify-content-center align-items-center w-100 my-2 mx-1">
            <input class="btn__global form-control-sm mx-1 my-2 fw_600 f_size-2" type="submit" value="Post Answer 😎">
          </div>
        </form>
    </div>

  </body>

</html>