<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/head") %>
  </head>

  <body id="createPost">
    <%- include("./forgot_password_alert") %> 
    <div class="container">
      <div class="d-flex justify-content-center align-items-center flex-column h-vh p-2 flex-wrap a_bounce-in">
        <h2 class="text-black-50 text-center my-3 a_from-left">Recover my Account</h2>
        <div class="card card__forgot-password p-4">
          <form class="form__forgot-password">
            <img class="logo d-block mx-auto my-3" alt="Evsu Insider">
            <label class="fw_600 my-2 text-black-50" for="emailRecover" class="form-label">Email Account</label>
            <input type="email" name="recover_email" class="d-block input__global mx-auto fw_600 recover__email" id="recoverEmail"
              placeholder="example@gmail.com" required>
            <div class="d-flex justify-content-end my-3">
              <button class="d-block btn__global fw_600 f_size-3 btn__password-reset" type="submit">
                Reset password
                <span class="spinner-border spinner-border-sm d-none loading__spinner-forgot-password" role="status" aria-hidden="true"></span>
              </button>
            </div>
            <a class="text-dark text-center mt-4 fw_600 f_size-3" href="/sign-in">Sign in instead</a>
          </form>
        </div>
      </div>
    </div>

    <%- include("../partial/script") %>
  </body>

</html>