<div class="modal fade" id="dialogResetPasswordAlert" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Password Reset</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-3">
        <div class="password__reset-status-icon d-flex align-items-center justify-content-center my-1 d-none">
          <%- include("../svg/check", {height: 80, width: 80}) %> 
        </div>
        <div class="password__reset-status-icon d-flex align-items-center justify-content-center my-1 d-none">
          <%- include("../svg/cross", {height: 80, width: 80}) %> 
        </div>
        <div class="loading-circle-other password__reset-loading loading-content my-1"></div>
        <p class="password__reset-message fw_600 text-center m-0 text-black-50">Please wait...</p>
      </div>
    </div>
  </div>
</div>