<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/head") %>
  </head>

  <body id="createPost">
    <div class="loading-container z-index-p1 password_reset__loading">
      <img class="logo mt-4" alt="Evsu Insider">
      <div class="loading-circle loading-content mt-4"></div>
      <div class="loading-text fw_700 primary-heading">Verifying Request</div>
    </div>
    <div class="container">
      <div class="d-flex justify-content-center align-items-center flex-column h-vh p-2 flex-wrap a_bounce-in">
        <h2 class="text-black-50 text-center my-3 a_from-left">Reset Password</h2>
        <div class="card card__reset-password py-2 px-4">
          <form class="form__reset-password">
            <%- include("../password_reset/reset_password_alert") %> 
            <img class="logo d-block mx-auto my-4" alt="Evsu Insider">
            <h6 class="text-black-50 fw_600 text-center my-3">Create new password for <span
                class="p-theme-color text-decoration-underline fw_600">
                <%= enc_email %>
              </span></h6>
            <div class="my-3">
              <label for="resetNewPassword" class="form-label fw_500">New Password</label>
              <input type="password" name="reset_new_password"
                class="d-block input__global mx-auto mb-2 fw_600 reset__new-password" id="resetNewPassword"
                placeholder="New Password" required>
            </div>
            <div class="my-3">
              <label for="resetConfirmNewPassword" class="form-label fw_500">Confirm New Password</label>
              <input type="password" name="reset_new_password"
                class="d-block input__global mx-auto mb-2 fw_600 reset__confirm-new-password" id="resetConfrimNewPassword"
                placeholder="Confirm New Password" required>
            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap my-5">
              <div class="form-check">
                <input class="form-check-input remember-me show__password" type="checkbox" id="showPassword" value="0">
                <label class="form-check-label fw_500 f_size-3" for="showPassword">
                  Show Password
                </label>
              </div>
              <button class="d-block btn__global fw_600 f_size-3 btn__password-reset" type="submit" disabled>
                Reset my password
                <span class="spinner-border spinner-border-sm d-none loading__spinner-forgot-password" role="status"
                  aria-hidden="true"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include("../partial/script") %>
  </body>

</html>