.a_bounce-in {
  animation: bounce 1.5s ease;
}
.a_from-left {
  animation: comefromleft 3.2s;
}

.loading-content {
  animation: loading linear infinite 800ms;
}

.loading__comment-form {
  align-items: flex-start;
  background: root.$white;
  display: flex;
  height: 100%;
  justify-content: start;
  position: absolute;
  width: 100%;
}

.lds-ellipsis {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: root.$primary-color;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes comefromleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  25% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

@keyframes bounce {
  from {
    transform: translateY(-900px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes loading {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
