.a_bounce-in {
  animation: bounce 1.5s ease;
}
.a_from-left {
  animation: comefromleft 3.2s;
}

.loading-content {
  animation: loading linear infinite 800ms;
}

.loading-circle-other {
  border: 5px solid #fff;
  border-radius: 50%;
  border-bottom: 5px solid #730000;
  border-top: 5px solid #730000;
  margin: 1rem auto 0;
  height: 40px;
  width: 40px;
}

.loading__comment-form {
  align-items: flex-start;
  background: root.$white;
  display: flex;
  height: 100%;
  justify-content: start;
  position: absolute;
  width: 100%;
}

.lds-ellipsis {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: root.$primary-color;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

.error__shake {
  animation: error_shake 0.5s linear;
}
.shine {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes comefromleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  25% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

@keyframes bounce {
  from {
    transform: translateY(-900px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes loading {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes error_shake {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes placeholderShimmer {
  0% {
    background-size: cover;
    background-position: -468px 0;
  }

  100% {
    background-size: cover;
    background-position: 468px 0;
  }
}
