@use "root" as root;
@use "register_form" as sharedInput;

#createPost {
  background: root.$background_body;
}

.border-expand:focus {
  border-color: root.$primary-color;
}
.group {
  margin: root.$mar-2 auto;
  position: relative;
  width: 100%;
}
.__material-input {
  border: none;
  border-bottom: 1px solid #757575;
  display: block;
  font-family: root.$secondary-font;
  font-size: 1rem;
  font-weight: root.$fw_600;
  padding: root.$pad-4;
  width: 100%;
}
.__material-input:focus {
  border-bottom: 1px solid root.$primary-color;
  outline: none;
}

/* .__material-label ======================================= */
.__material-label {
  color: #999;
  font-family: root.$secondary-font;
  font-size: 1rem;
  font-weight: root.$fw_600;
  left: 5px;
  -moz-transition: 0.2s ease all;
  pointer-events: none;
  position: absolute;
  transition: 0.2s ease all;
  top: 10px;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.__material-input:focus ~ .__material-label,
.__material-input:valid ~ .__material-label {
  top: -15px;
  font-size: 14px;
  color: root.$primary-color;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: root.$primary-color;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.__material-input:focus ~ .bar:before,
.__material-input:focus ~ .bar:after {
  background: root.$primary-color;
  width: 50%;
}

.post-tag-size {
  font-size: 1rem;
}

.loading-container {
  align-items: center;
  background: root.$white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  > .loading-circle {
    border: 5px solid #fff;
    border-radius: 50%;
    border-bottom: 5px solid #730000;
    border-top: 5px solid #730000;
    margin: 1rem auto 0;
    height: 30px;
    width: 30px;
  }
  > .loading-text {
    font-weight: root.$fw_600;
    text-align: center;
  }
}
.close-loading {
  display: none !important;
}

.create__post-subject {
  > .create__post-subject-dialog-toggler {
    background: root.$white;
    border: 1px solid #ced4da;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 100%;
    outline: none;
    position: absolute;
    right: 0;
  }
}

@mixin answer-form-mobile {
  .group {
    margin: root.$mar-2 auto;
    max-width: 90%;
    width: 90%;
  }
  .__material-input {
    width: 100%;
  }
}

//MEDIA QUERY
@mixin answer-form-max-576px {
  @include answer-form-mobile;
}
