@use "root" as root;

.subject__dropdown-header {
  .subject__dropdown-btn {
    background: transparent;
    border: none;
    outline: none;
  }
}

.fa-chevron-right {
  transition: all 300ms ease;
  &.icon-rotate {
    transform: rotate(90deg);
  }
}

.subject__dropdown-group {
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  max-height: 3rem;
  overflow: hidden;
  padding: root.$pad-3;
  transition: all 300ms ease;
  > .subject__dropdown {
    width: 100%;
  }
  &.subject__dropdown-open {
    max-height: 100%;
  }
}

.notification__permission {
  background: #f6e6e6;
  border-top: 2px solid root.$primary-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 0;
  height: max-content;
  padding: 2rem root.$pad-1;
  position: fixed;
  transform: translateY(100%);
  transition: all ease 1s;
  width: 100%;

  &.close{
    transform: translateY(100%);
  }
  &.slide-up{
    transform: translateY(0);
  }
}



@mixin dashboard-max-576px {
  
}