@use "root" as root;

.w-max-content {
  width: max-content;
}
.post-clickable {
  display: block;
  position: relative;
  .post__card {
    @include nav-link-style;
    background: rgba(245, 245, 245, 0.9);
    border: 1px solid #ddd;
    border-bottom: 5px solid #ddd;
    box-shadow: root.$shadow-2;
    margin-top: root.$mar-1;
    overflow: hidden;
    position: relative;

    &:hover {
      background: root.$bg-hover-primary;
      border: 1px solid rgba(root.$primary-color, 0.3);
      border-bottom: 5px solid rgba(root.$primary-color, 0.7);
    }
  }
}

.pin__indicator {
  position: absolute;
  right: 0;
  top: -.8rem;
  z-index: 997;
}

.post__title-container {
  background: root.$primary-color;
  left: 0;
  padding: root.$pad-3;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  > .post__title {
    color: root.$white;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.post__header {
  margin-top: 2.5rem;
  position: static;
  > .post__tag {
    background: rgba(root.$primary-color, 0.9);
    border: 1.5px solid root.$primary-color;
    border-radius: 7px;
    color: root.$white;
    padding: 2px 5px;
    vertical-align: middle;
  }
  > .post__subject {
    border: 1.5px solid root.$primary-color;
    border-radius: 7px;
    padding: 2px 5px;
  }
}

.post__sub-header {
  word-wrap: break-word;
  flex-wrap: wrap;
}

.post__option {
  width: 100%;
  > .option__link {
    background: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    padding: 0 4px;
    transition: root.$transition-1;

    &:focus-within{
      box-shadow: 0 0 0 3px rgba(root.$black, 0.2);
    }
  }
  > .option-container {
    background: root.$white;
    border-radius: 5px;
    border: 1px solid root.$bg-hover-primary;
    box-shadow: root.$shadow-1;
    right: 1.5rem;
    padding: root.$pad-3;
    position: absolute;
    transition: root.$transition-1;
    top: -7.9rem;
    z-index: 998;
  }
}
.bi-three-dots {
  line-height: 1em;
}

@mixin option-btn-style {
  background: none;
  border: none;
  outline: none;
}
.delete__option-btn {
  @include option-btn-style;
}

.pin__option-btn {
  @include option-btn-style;
}

.custom__delete-dialog {
  align-items: center;
  background: rgba(root.$black, 0.7);
  border-radius: 5px;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  > .dialog-delete {
    background: root.$white;
    border-radius: 5px;
    margin: root.$mar-1;
    padding: root.$pad-1;
  }
}

@mixin post-max-576px {
  .post__option {
    > .option-container {
      right: 2rem;
      top: -9rem;
      z-index: 999;
    }
  }
}
