@use "root" as root;
.spec__post-detail {
  border-left: 5px solid root.$bg-hover-primary;
}
.spec__post-tag {
  background: root.$primary-color;
  border-radius: 12px;
  color: root.$white;
  padding: 3px root.$pad-2;
  width: max-content;
}

.spec__post-subject {
  border: 2px solid root.$primary-color;
  border-radius: 12px;
  color: root.$primary-color;
  padding: 1px root.$pad-2;
  width: max-content;
}

.related__post{
  position: sticky;
  top: 5rem;
}

@mixin specific-post-max-992px {
  img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 90%;
  }
  iframe {
    display: block;
    margin: 0 auto;
    width: 100% !important;
  }
}
