@use "root" as root;

#showPost {
  background: root.$background_body;
}
.main__specific-post {
  background: root.$white;
  border-radius: 5px;
  box-shadow: root.$shadow-2;
  overflow: hidden;
  position: relative;
}
.specific__post-article {
  position: relative;
}
.spec__post-thumbnail-wrapper {
  height: 20rem;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  > .spec__post-thumbnail-image-src {
    height: 100%;
    object-fit: cover;
    transition: root.$transition-1;
    width: 100%;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.spec__post-user-image-container {
  background: rgb(240, 240, 240);
  clip-path: circle(50% at 50%);
  height: 2.5rem;
  width: 2.5rem;
  > .spec__post-user-image {
    border: 3px solid root.$background_body;
    border-radius: 50%;
    height: 100%;
    object-fit: scale-down;
    padding: 0.1rem;
    width: 100%;
  }
}

.aside__specific-quick-links {
  background: root.$white;
  border-radius: 5px;
  box-shadow: root.$shadow-2;
}

.spec__margin-21 {
  margin-top: 21rem;
}
.spec__post-detail {
  overflow-x: auto;
  word-wrap: break-word;
}
.spec__post-tag {
  background: root.$primary-color;
  border-radius: 12px;
  color: root.$white;
  padding: 3px root.$pad-2;
  width: max-content;
}

.spec__post-subject {
  border: 2px solid root.$primary-color;
  border-radius: 12px;
  color: root.$primary-color;
  padding: 1px root.$pad-2;
  width: max-content;
}

.aside__quick-links {
  position: sticky;
  top: 5rem;
}

.related__post {
  background: root.$white;
  border-radius: 5px;
}

.copy__code-snippet {
  background: root.$white;
  border: 5px;
  border-bottom: 5px solid #d1d1d1;
  border-radius: 5px;
  outline: none;
  position: absolute;
  right: 3rem;
  top: root.$mar-4;

  &:focus {
    border-bottom: 0;
  }
  &:hover {
    background: #f1f1f1;
  }
}
.zoom__code-snippet {
  background: root.$white;
  border: 5px;
  border-bottom: 5px solid #d1d1d1;
  border-radius: 5px;
  outline: none;
  position: absolute;
  right: root.$mar-4;
  top: root.$mar-4;
}
.zoom__code-wrapper {
  background: #20201d;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1041;

  > .zoom__code-item {
    background: #20201d;
    height: 100%;
    padding: 2.5rem root.$pad-2;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
  }
}

.zoom__code-item {
  .zoom__btn-zoom-out {
    background: root.$white;
    border: 5px;
    border-bottom: 5px solid #d1d1d1;
    border-radius: 5px;
    &:focus {
      border-bottom: 0;
    }
    &:hover {
      background: #f1f1f1;
    }
  }
  .font__size-add {
    background: root.$white;
    border: 5px;
    border-bottom: 5px solid #d1d1d1;
    border-radius: 5px;
    &:focus {
      border-bottom: 0;
    }
    &:hover {
      background: #f1f1f1;
    }
  }
  .font__size-subtract {
    background: root.$white;
    border: 5px;
    border-bottom: 5px solid #d1d1d1;
    border-radius: 5px;
    &:focus {
      border-bottom: 0;
    }
    &:hover {
      background: #f1f1f1;
    }
  }

  .fix__code {
    background: root.$white;
    border: 5px;
    border-bottom: 5px solid #d1d1d1;
    border-radius: 5px;

    &:focus {
      border-bottom: 0;
    }
    &:hover {
      background: #f1f1f1;
    }
  }
}
@mixin speicific-post-max-576px {
  .spec__post-thumbnail-wrapper {
    height: 15rem;
  }
  .spec__margin-21 {
  margin-top: 16rem;
}
  .copy__code-snippet {
    bottom: -0.5rem;
    position: absolute;
    right: 3.1rem;
    top: unset;
  }
  .zoom__code-snippet {
    bottom: -0.5rem;
    position: absolute;
    right: root.$mar-4;
    top: unset;
  }
}

@mixin specific-post-max-992px {
  img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 90%;
  }
  iframe {
    display: block;
    margin: 0 auto;
    width: 100% !important;
  }
}

// @mixin specific-post-1024-up {
//     img {
//     display: block;
//     height: auto;
//     margin: 0 auto;
//     width: 90%;
//   }
//   iframe {
//     display: block;
//     margin: 0 auto;
//     width: 100% !important;
//   }
// }
//TINY MCE FORMAT
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: root.$fonts;
  font-weight: root.$fw_700;
}
