@use "root" as root;

#showPost {
  background: rgb(230, 230, 230);
}
.main__specific-post {
  background: root.$white;
  border-radius: 5px;
  box-shadow: root.$shadow-2;
}

.aside__specific-quick-links {
  background: root.$white;
  border-radius: 5px;
  box-shadow: root.$shadow-2;
}

.spec__post-detail {
  overflow-x: auto;
  word-wrap: break-word;
}
.spec__post-tag {
  background: root.$primary-color;
  border-radius: 12px;
  color: root.$white;
  padding: 3px root.$pad-2;
  width: max-content;
}

.spec__post-subject {
  border: 2px solid root.$primary-color;
  border-radius: 12px;
  color: root.$primary-color;
  padding: 1px root.$pad-2;
  width: max-content;
}

.aside__quick-links {
  position: sticky;
  top: 5rem;
}

.related__post {
  border-radius: 5px;
}

.copy__code-snippet {
  background: root.$white;
  border: 5px;
  border-bottom: 5px solid #d1d1d1;
  border-radius: 5px;
  outline: none;
  position: absolute;
  right: root.$mar-4;
  top: root.$mar-4;

  &:focus {
    border-bottom: 0;
  }
  &:hover {
    background: #f1f1f1;
  }
}

@mixin speicific-post-max-576px {
  .copy__code-snippet {
    bottom: -1rem;
    position: absolute;
    right: root.$mar-4;
    top: unset;
  }
}

@mixin specific-post-max-992px {
  img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 90%;
  }
  iframe {
    display: block;
    margin: 0 auto;
    width: 100% !important;
  }
}

// @mixin specific-post-1024-up {
//     img {
//     display: block;
//     height: auto;
//     margin: 0 auto;
//     width: 90%;
//   }
//   iframe {
//     display: block;
//     margin: 0 auto;
//     width: 100% !important;
//   }
// }
//TINY MCE FORMAT
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: root.$fonts;
  font-weight: root.$fw_700;
}
