@use "root" as root;

@mixin subject-style {
  @include nav-link-style;
  background: rgba(245, 245, 245, 0.9);
  border: 1px solid #ddd;
  border-bottom: 5px solid #ddd;
  box-shadow: root.$shadow-2;
  margin: root.$mar-2 auto;
  overflow-x: hidden;
  position: relative;
}

.subject__folder {
  @include subject-style;
  padding: root.$pad-3 root.$pad-3;

  &:hover {
    background: root.$bg-hover-primary;
    border: 1px solid rgba(root.$primary-color, 0.3);
    border-bottom: 5px solid rgba(root.$primary-color, 0.7);
  }
}
.subject__header {
  background: root.$primary-color;
  left: 0;
  padding: root.$pad-4;
  position: absolute;
  right: 0;
  top: 0;
  > .subject__title {
    color: root.$white;
  }
}

.subject__sub-header {
  margin-top: 2rem;
}