@use 'root' as root;

.pr-color {
  color: root.$primary-color;
}

.fw_700 {
  font-weight: root.$fw_700;
}

.fw_600 {
  font-weight: root.$fw_600;
}

.fw_500 {
  font-weight: root.$fw_500;
}

.fw_400 {
  font-weight: root.$fw_400;
}

.fw_300 {
  font-weight: root.$fw_300;
}

.p-theme-color {
  color: root.$primary-color;
}

.div-primary-bg-color {
  background: root.$primary-color;
}

.div-second-bg-color {
  background: rgba(230, 230, 230, 0.5);
  height: 50px !important;
}

.primary-heading {
  font-family: root.$secondary-font;
}
.secondary-heading {
  font-family: root.$fonts;
}

.alert-text {
  box-sizing: border-box;
  font-size: 0.9rem !important;
}
.f_size-heading {
  font-size: 1.1rem;
}
.f_size-1 {
  font-size: 1rem !important;
}
.f_size-2 {
  font-size: 0.9rem !important;
}
.f_size-3 {
  font-size: 0.7rem !important;
}
.f_size-4 {
  font-size: 0.6rem !important;
}
.f_size-5 {
  font-size: 0.5rem !important;
}
