<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/head") %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-center align-items-center h-vh">
            <form class="form__container a_bounce-in" method="POST" action="/evsu-insider/sign-up">
            <img class="logo d-block mx-auto"  alt="Evsu Insider">
              <h4 class="text-center my-4 fw_700 p-theme-color a_from-left">Join Today</h4>
              
              <%- include("../partial/error_alert.ejs") %> 
              <!-- name -->
              <input type="text" name="name" class="d-block input__global my-3 mx-auto fw_600" id="userName"
                placeholder="Name">
              <!-- email -->
              <input type="email" name="email" class="d-block input__global my-3 mx-auto fw_600" id="userEmail"
                placeholder="Email">
              <!-- password -->
              <input type="password" name="password" class="d-block input__global my-3 mx-auto fw_600" id="userPassword"
                placeholder="Password">
              <!-- confirm password -->
              <input type="password" name="confirm_password" class="d-block input__global my-3 mx-auto fw_600"
                id="userPassword" placeholder="Confirm Password">
              <!-- submit button -->
              <input class="d-block btn__global my-3 mx-auto fw_600" type="submit" value="Count me in">
              <!-- sign in link -->
              <a class="text-dark text-decoration-none d-block text-center mx-auto my-4 fw_600"
                href="/evsu-insider/sign-in">Already Joined? Sign in instead.</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include("../partial/footer") %>
    <%- include("../partial/script") %>
  </body>

</html>