@use "./style/root" as root;
@import "./style/navbar";
@import "./style/dashboard";
@import "./style/search_field";
@import "./style/search_post";
@import "./style/typography";
@import "./style//post-style-v2";
@import "./style/register_form";
@import "./style/footer";
@import "./style/animation";
@import "./style/create-post-form";
@import "./style/post.scss";
@import "./style/specific_post";
@import "./style/options_form";
@import "./style/subject";
@import "./style/comment";
@import "./style/profile";
@import "./style//zoom_image";
@import "./style/ads_style";
@import "./media";

