<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/head") %>
  </head>

  <body>
    <div class="divider div-primary-bg-color"></div>
    <%- include("../partial/navbar") %>
      <div class="divider div-second-bg-color"></div>

      <div class="page__not-found my-5">
        <h3 class="text-center">Sorry, The page that you looking for was not found.</h3>
        <p class="display-1 text-center text-black-50 fw_700">404 <span><%- include("../svg/telescope") %> </span></p>
      </div>

      <%- include("../partial/script") %>
  </body>

</html>