<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/head") %>
  </head>

  <body>
    <div class="divider div-primary-bg-color"></div>
    <%- include("../partial/navbar") %>
      <div class="divider div-second-bg-color"></div>

      <div class="page__not-found my-5">
        <h1 class="text-center">Sorry, The page that you looking for was not found.</h1>
      </div>

      <%- include("../partial/script") %>
  </body>

</html>