<div class="dropdown__password-options my-3">
  <%- include("./change_password_alert") %> 
  <form class="form__profile-change-password">
    <%- include("../partial/error_alert") %> 
    <%- include("../partial/success_alert") %> 
    <!-- Current Password -->
    <div class="input-group my-3">
      <label class="form-label w-100 fw_600 m-0 text-black-50 dialog__settings-heading" for="currentPassword">Current
        Password</label>
      <div class="input-group flex-nowrap my-2">
        <span class="input-group-text primary-bg-color text-white"><i class="bi bi-key"></i></span>
        <input type="password" class="form-control input__settings-focus change__password-field" id="currentPassword" placeholder="Enter Current Password" required>
      </div>
    </div>
    <!-- New Password -->
    <div class="input-group my-3">
      <label class="form-label w-100 fw_600 m-0 text-black-50 dialog__settings-heading" for="newPassword">New
        Password</label>
      <div class="input-group flex-nowrap my-2">
        <span class="input-group-text primary-bg-color text-white"><i class="bi bi-key"></i></span>
        <input type="password" class="form-control input__settings-focus change__password-field" id="newPassword" placeholder="Enter New Password" required>
      </div>
      <p class="f_size-3 text-danger fw_600 mt-1 ms-1 d-none password__checker">Password should be at least 8 characters long. <i class="bi bi-check-circle-fill f_size-1 d-none"></i></p>
    </div>
    <!-- Confrim New Password -->
    <div class="input-group my-3">
      <label class="form-label w-100 fw_600 m-0 text-black-50 dialog__settings-heading" for="confirmNewPassword">Confirm New
        Password</label>
      <div class="input-group flex-nowrap my-2">
        <span class="input-group-text primary-bg-color text-white"><i class="bi bi-key"></i></span>
        <input type="password" class="form-control input__settings-focus change__password-field" id="confirmNewPassword" placeholder="Confirm New Password" required>
      </div>
      <p class="f_size-3 text-danger fw_600 d-none mt-1 ms-1 password__checker">Password do not match  </p>
    </div>
    <div class="d-flex align-items-center justify-content-between change__password-actions-btn">
      <div class="form-check mx-1">
        <input class="form-check-input show__password" type="checkbox" id="showPassword" value="0">
        <label class="form-check-label fw_500" for="showPassword">
          Show Password
        </label>
      </div>
      <!-- submit button -->
      <button class="d-block btn__global f_size-2 fw_600 change__password-btn" type="submit" disabled>
        Change password
        <span class="spinner-border spinner-border-sm d-none change__password-loading-spinner" role="status" aria-hidden="true"></span>
      </button>
    </div>
  </form>
</div>