<footer>
  <div class="footer-info d-flex justify-content-center align-items-center">
    &copy; Copyright 2021, All Right Reserved.
    This group dedicated only to all IT student at Eastern Visayas State University. Data is not provided by
    University.&nbsp;Read more&nbsp;<a class="text-white" href="/privacy-policy">Privacy Policy</a>
  </div>
</footer>