<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="theme-color" content="#730000">
<meta name="msapplication-TileColor" content="#730000">
<meta name="msapplication-navbutton-color" content="#730000">
<meta name="apple-mobile-web-app-status-bar-style" content="#730000">
<meta http-equiv="refresh" content="1800">
<script src="https://kit.fontawesome.com/80e259b08b.js" crossorigin="anonymous"></script>
<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<!-- custom css -->
<link rel="stylesheet" href="/dist/main.css?version=1.9">
<title>
  <%= doc_title %>
</title>
<script data-ad-client="ca-pub-6339824122042704" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
