<details class="my-3">
  <summary class="f_size-2">Image requirements</summary>
  <div
    class="alert alert-warning d-flex justify-content-center align-items-center p-2 profile__settings-alert fw_600 my-3"
    role="alert">
    <div class="f_size-3">
      The acceptable type of image that you could upload is extension that ends with
      (.png,&nbsp;.jpeg,&nbsp;.jpg,&nbsp;.webp,&nbsp;.gif).
      And the maximum image size allowed is 3MB
    </div>
  </div>
</details>