<div class="loading__profile-settings d-flex align-items-center justify-content-center d-none z-index-p1">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>