<div class="loading-container z-index-p1 d-none">
  <img class="logo mt-4" alt="Evsu Insider">
  <div class="loading-circle loading-content mt-4"></div>
  <div class="loading-text fw_700 primary-heading"><%= loading_message.length > 0 ? loading_message : "Signing in..." %></div>
</div>