<navbar class="navbar navbar-expand-lg bg-light z-index-p1 custom__navbar border">
  <div class="--navbar-content container d-lg-flex justify-content-between align-items-center py-1">
    <div class="--navbar-heading">
      <a class="--navlogo-link" href="/dashboard">
        <%- include("../partial/logo_svg") %> 
      </a>
    </div>
    <button class="navbar-toggler burger-toggler p-0" data-bs-target="#navContainer">
      <div class="nav-burger"></div>
    </button>
    <div class="--nav-list-container flex-grow-0" id="navContainer">
      <ul class="--navbar-list d-lg-flex align-items-center justify-content-between m-0 p-0">
        <li class="--nav-item">
          <a class="--nav-link" href="/dashboard">Home</a>
        </li>
        <li class="--nav-item">
          <a class="--nav-link" href="/create-post">Create Post</a>
        </li>
        <li class="--nav-item">
          <a class="--nav-link" href="/">Explore</a>
        </li>
        <li class="--nav-item">
          <div class="btn-group">
            <div class="user__profile-picture-container">
              <img class="user__profile-image shine" src="<%= user_profile_image[0].profile_image_url %> " loading="lazy">
            </div>
            <button class="--nav-link dropdown-toggle --acc-option-btn mx-1" type="button" data-bs-toggle="dropdown">
              Account 
              <% if (user.user_state == 2){ %>
                <sup class="badge bg-success f_size-4">
                  Admin
                </sup>
              <% } %>
            </button>
            <ul class="dropdown-menu --acc-option p-1">
              <li class="--nav-item mx-1">
                <a class="--nav-link dropdown-item" href="/profile">Profile <span><i class="bi bi-person-fill f_size-1"></i></span></a>
              </li>
              <li class="--nav-item mx-1">
                <a class="--nav-link dropdown-item" href="/profile">Settings <span><i class="bi bi-gear-fill f_size-1"></i></span></a>
              </li>
              <li class="--nav-item mx-1">
                <a class="--nav-link dropdown-item" href="/sign-out">Sign Out <span><i
                      class="bi bi-box-arrow-in-right --signout-icon"></i></span> </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</navbar>