<div class="container">
  <div class="random__quote mx-auto text-wrap ps-2 py-1 my-5 d-sm-none">
    <figure class="m-0">
      <blockquote class="blockquote text-wrap">
        <h6 class="quote__text fw_500 text-black-50"></h6>
      </blockquote>
      <figcaption class="blockquote-footer quote__author m-0">
        <cite title="Source Title"></cite>
      </figcaption>
    </figure>
  </div>
</div>