<div class="zoom__image-container">
  <div class="zoom__layout">
    <div class="zoom__close-btn-wrapper d-flex justify-content-end">
      <button class="zoom__close-btn"></button>
    </div>
    <div class="zoom__image-wrapper">
      <img class="zoom__main-image" loading="lazy">
    </div>
  </div>
</div>