<div class="loading-container z-index-p1">
  <%- include("../partial/logo_svg") %> 
  <div class="loading-circle loading-content"></div>
  <div class="loading-text">Loading...</div>
</div>
<textarea name="comment_field" id="commentField" cols="30" rows="10">
</textarea>