# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - insiderhub

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
    - name: 'Checkout Github Action'
      uses: actions/checkout@master

    - name: Set up Node.js version
      uses: actions/setup-node@v1
      with:
        node-version: '12.13.0'

    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present
        npm run test --if-present

    - name: reset bcrypt
      run: |
        npm uninstall bcrypt
        npm install --save @mapbox/node-pre-gyp
        npm install bcrypt

    - name: database config
      run: |
        npm install -g npx
        npm run db:migrate:prod

    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'insiderhub'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_a07029d1f4f047139a3c004a4c6a8a24 }}
        package: .